/* Global font style */
* {
    /* margin: 0;
    padding: 0; */
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
    transition: background-color 0.3s;
}
 /* Icon styles */
 .btn-primary i {
    display: none;
}
.btn-primary:hover{
    background-color: #e76000;
}
/* Show icon on hover */
.btn-primary:hover i {
    display: inline;
}
/* Nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* header style */
.header{
    background-color: #fff8f3;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-{
    min-width: 500px;
}
.banner .banner-pic{
    width: 600px;
}
.banner-greeting{
    color: #474747;
    font-size: 24px;
    margin-bottom: 0;
}
.banner-title{
    color: #181818;
    font-size: 60px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
/* about section style */
.about{
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color: #757575;
    text-align: center;
    font-weight: 400;
}
.about-info{
    color: #757575;
    text-align: center;
    font-size: 20px;
}
.info-description{
    font-weight: bold;
    justify-content: space-evenly;
    justify-content: space-around;
}

/* What I do section */
#What-I-do-description{
    padding: 30px 150px;
    font-weight: 400;
}
.skills-container{
    display: flex;
    margin: 132px;
    gap: 24px;
}
.skill{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title{
    text-align: left;
    font-size: 20px;
    align-items: start;
    
}
.skill-icons{
    margin-left: -155px;
}
.skill-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}
/* A summary of My Resume section */
.resume-column-title{
    color: #474747;
    margin-top: 113px;
}
.resume-container{
    display: flex;
    gap: 50px;
    padding: 0px 70px;
    margin: 0 130px;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
}
.resume-item-title{
    color: #474747;
    font-weight: 700;
}
.resume-item-institute{
    color: #757575;
    font-size: 20px;
}
.resume-item-description{
    color: #757575;
}
.resume-column hr{
    margin: 30px 0px;
}
#Resume-section-button{
    margin: 50px 480px;
}

/* Footer section */
footer{
    display: flex;
    gap: 120px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 50px 200px;
}
.footer-column{
    width: 50%;
}
.contact input,textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border: none;
    border-radius: 5px;
    width: 461px;
}
#footer-title{
    text-align: start;
}
#footer-description{
    text-align: start;
    font-size: 16px;
    margin-bottom: 30px;
}
.social-links a{
    padding-left: 25px;
}
#from-message-btn{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
    width: 150px;
    transition: background-color 0.3s;
}
#from-message-btn:hover{
    background-color: #e76000;
}
